@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: serif;
}

.main {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.main_header {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

form {
  
  color: white;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}
input[type="text"],
input[type="email"]{
  display: block;
  width: 300px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* margin-bottom: 20px; */
}

button{
  font-family: 'Montserrat', sans-serif;
  padding: 5px 20px;
  font-size: large;
  margin-top: 5px;
  cursor: pointer;
  
}

.form-control{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

}
.form-control-checkbox{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

}
.labelTerm{
  margin-top: 5px;
  margin-left: 8px;
}
.error{
  color: red;
}

.Dashboard{
  margin-top: 20px;
  color: white;
}



@media only screen and (max-width: 767px) {
  input[type="text"],
  input[type="email"] {
    width: 270px;
    
  }
  .main_header {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: large !important;
  }
  .hiden{
    display: none;
  }
}





